@import "colors";

.app {
    background-color: $main-background;
    width: 100%;
    padding: 80px 120px 40px 120px;
    box-sizing: border-box;
    height: 100vh;
}

.page-content {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.content-panel {
    height: 100%;
    width: 40%;
}

.form-panel {
    width: 100%;
    max-width: 560px;
    width: 45%;
    height: 100%;
}

@media(max-width: 1100px) {
    .app {
        padding: 40px 20px;
        overflow: scroll;
    }

    .page-content {
        display: flex;
        flex-direction: column;
    }

    .content-panel {
        margin-bottom: 20px;
        width: 100%;
        max-width: 560px;
        box-sizing: border-box;
    }

    .form-panel {
        width: 100%;
    }
}
