@import "colors";

.action-button {
    border-radius: 4px;
    background-color: $submit-button;
    text-transform: uppercase;
    display: flex;
    place-content: center;
    width: 100%;
    padding: 10px 0px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    
    &:hover {
        cursor: pointer;
    }

    &:disabled {
        background-color: gray;
        cursor: not-allowed;
    }
}
