$main-background: #05004E;
$header-text: #46CDCF;
$white: #f9fafa;
$label-blue: #04006e;
$form-headers: #05004E;
$hint-text: #060090;
$submit-button: #FAB95b;
$input-color: #DBE2EF;
$pure-white: #fff;
$sec-yellow: #FCDB92;
$faq-text-color: #FBC971;
$bar-color: #46CDCF;