@import "colors";

.content-container {
    width: 100%;
    height: 100%;
}

.header {
    font-size: 48px;
    color: $header-text;
    line-height: 1.1;
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-12 {
    margin-bottom: 12px;
}

.header-sub-text {
    color: $white;
    font-weight: 700;
    font-size: 18px;
}

.divider {
    border-top: 2px solid $header-text;
    width: 20%;
}

.search-box {
    width: 100%;
    background-color: $input-color;
    display: flex;
    align-items: center;
    place-content: center;
    padding: 4px 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

.faq-header {
    font-size: 24px;
    color: $header-text;
}

.view-more {
    color: $sec-yellow;
    font-size: 14px;
    font-weight: 600;

    &:hover {
        cursor: pointer;
    }
}