@import "colors";

.faq-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.faq-item {
    width: 100%;
    margin-bottom: 12px;
    font-size: 14px;
    color: $faq-text-color;
    text-decoration: none;
}