@import "colors";

.form-container {
    width: 100%;
    background-color: $pure-white;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.form-header {
    display: flex;
    flex-direction: column;
}

.main-text {
    color: $main-background;
    font-size: 24px;
    margin-bottom: 8px;
}

.sub-text {
    color: $main-background;
    font-size: 14px;
    margin-bottom: 24px;
    font-weight: 300;
}

.divider-form {
    width: 15%;
    border-top: 2px solid $header-text;
    margin-bottom: 24px;
}

.form-content {
    border-bottom: 1px solid #e1e1e1;
}

.form-action {
    width: 100%;
    padding: 20px;
    border-top: 1px solid #e1e1e1;
    box-sizing: border-box;
}

.mb-20 {
    margin-bottom: 20px;
}

@media(max-width: 1100px) {
    .form-container {
        margin-bottom: 20px;
    }
}
