@import "colors";

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.input-label {
    color: $label-blue;
    font-size: 14px;
    font-weight: 600;
}

.required-text {
    font-size: 10px;
    font-weight: 600;
    color: $hint-text;
    opacity: 0.4;
}

.text-input {
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
    border: none;
    background-color: $input-color;
    font-size: 14px;
}

.valid-label {
    font-size: 10px;
    margin-left: 8px;
    text-align: center;
}

.label-wrapper {
    display: flex;
    flex-direction: row;
    place-content: center;
}
